.DrawGameView__header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.DrawGameView__header p {
  margin: 0;
  padding: 0;
  left: -5vw;
  font-size: 2.0rem;
}

.DrawGameView__header button {
  margin: 0 5vw;
  font-size: 2.0rem;
  border-radius: 15px;
}

.DrawGameView__drawPort {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  height: 90vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Canvas */

.DrawGameView--container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 4vh;

  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(grey, white);
}

.DrawGameView--slicer {
  position: relative;
  overflow: hidden;
}

.DrawGameView--silhouette {
  position: relative;
}

.DrawGameView--canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 0 10px 1px black;
  cursor: grabbing;
}


/* Button Container */

.DrawGameView--toggleBtn-container {
  height: 60px;
  width: 125px;
  position: fixed;
  top: 2vh;
  left: 10vw;
  box-shadow: inset 0 0 5px black;
  background: rgba(128, 128, 128, 0.76);
  padding: 4px;
  border-radius: 6px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.GameDrawView__image--reference {
  position: absolute;
  height: 18vh;
  width: 20vw;
  top: 12vh;
  left: 7vw;
  z-index: 1;
}


@media only screen and (min-width: 675px) {
  .InstructionsView__header--timer {
    font-size: 2.5rem;
  }
  
  .InstructionsView__header button {
    font-size: 2.5rem;
  }
}