.GuestLobbyView__container--title {
  position: relative;
  display: inline;
  top: 10vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 2.0rem;
  border-radius: 15px;
}

.GuestLobbyView__container--IdField {
  position: absolute;
  top: 35vh;
  width: 100vw;
  z-index: 1;
}

.GuestLobbyView__container--IdField form {
  position: absolute;
  width: 100vw;
}

.GuestLobbyView__form--codeInput {
  text-align: center;
  width: 50vw;
  line-height: 48px;
  border-radius: 15px;
}

/* .GuestLobbyView__form--codeInput::placeholder {
  color: white;
} */

.GuestLobbyView__form--btn {
  display: block;
  margin: 0 auto;
  width: 50vw;
  margin-top: 2.0rem;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  border-radius: 15px;
}

/* .GuestLobbyView__form--btn:hover {
  background: radial-gradient(#5973EB, #1638D3);
  color: black
} */

.GuestLobbyView__namesList--container {
  position: absolute;
  top: 30vh;
  height: 50vh;
  width: 100%;
}

.GuestLobbyView__namesList--container h2 {
  margin: 0 3.0rem;
}

.GuestLobbyView__namesList--message {
  position: absolute;
  margin: 0 3.0rem;
  padding-bottom: 2.0rem;
  top: 15vh;
  height: 100px;
}

.GuestLobbyView__namesList {
  position: absolute;
  top: 25vh;
  width: 100vw;
}

.GuestLobbyView__namesList li {
  text-align: left;
  margin: 0.5rem 2.0rem;
  font-size: 1.2rem;;
  padding: 0.25rem 0.5rem;
}

.GuestLobbyView__btn--cancel {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10vh;
  width: 50vw;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  border-radius: 15px;
}

/* .GuestLobbyView__btn--cancel:hover {
  background: radial-gradient(#5973EB, #1638D3);
  color: black
} */