.HostLobbyView__container--title {
  position: relative;
  display: inline;
  top: 15vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 2.0rem;
  border-radius: 15px;
}

.HostLobbyView__container--IdField {
  position: absolute;
  top: 30vh;
  width: 100vw;
 }
 
.HostLobbyView__container--IdField h2 {
  margin: 0 3.0rem;
}

.HostLobbyView__container--IdField p {
  border-radius: 15px;
  font-size: 2.0rem;
  margin: 1.0rem 5.0rem;
}

.HostLobbyView__container--namesList {
  position: absolute;
  top: 55vh;
  width: 100vw;
}

.HostLobbyView__container--namesList li {
  text-align: left;
  margin: 0.8rem 2.0rem;
  font-size: 1.0rem;;
  padding: 0.5rem 0.5rem;
}

.HostLobbyView__namesList--deleteBtn {
  float: right;
  font-size: 0.9rem;
  padding-top: 0.25rem;
}

.HostLobbyView__container--button {
  position: absolute;
  bottom: 10vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  width: 100vw;
}

.HostLobbyView__btn {
  margin: 0 1.5rem;
  padding: 1.0rem 0;
  border-radius: 15px;
}


@media only screen and (min-width: 768px) {
  .HostLobbyView__container--title {
    padding: 2.0rem 2.0rem;
    font-size: 3.5rem;
  }
  
  .HostLobbyView__container--IdField {
    top: 25vh;
   }
   
  .HostLobbyView__container--IdField h2 {
    padding: 2.0rem 2.0rem;
    font-size: 2.0rem;
  }
  
  .HostLobbyView__container--IdField p {
    font-size: 2.0rem;
    padding: 0.5rem 0;
    margin: 1.0rem 10.0rem;
  }
  
  .HostLobbyView__container--namesList {
    top: 45vh;
  }
  
  .HostLobbyView__container--namesList li {
    margin: 0.8rem 2.0rem;
    font-size: 2.0rem;;
    padding: 1.0rem 1.0rem;
  }
  
  .HostLobbyView__namesList--deleteBtn {
    font-size: 1.9rem;
  }
  
  .HostLobbyView__btn {
    font-size: 2.0rem;
  }
}