.main-container {
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 100vw;
}

.title {
  color: white;
  font-size: 2.0rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 2.0rem;
  margin-right: 2.0rem;
  border-radius: 15px;
  background: radial-gradient(#1638D3, #5973EB);
}

.lobby-code-container {
  position: absolute;
  top: 25vh;
  width: 100%;
 }
 
.lobby-code-container h2 {
  color: white;
  margin: 0 3.0rem;
}

.lobby-code-container p {
  color: white;
  background-color: #0E289E;
  border-radius: 15px;
  font-size: 2.0rem;
  margin: 1.0rem 5.0rem;
}

.lobby-name-list {
  position: absolute;
  top: 45vh;
  width: 100%;
  color: white;
}

.lobby-name-list li {
  text-align: left;
  margin: 0.5rem 2.0rem;
  font-size: 1.2rem;;
  padding: 0.25rem 0.5rem;
  background-color: #0E289E;
}

.start-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10vh;
  width: 50vw;
  background: radial-gradient(#1638D3, #5973EB);
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  border-radius: 15px;
  color: white;
}

.start-button:hover {
  background: radial-gradient(#5973EB, #1638D3);
  color: black
}