.HostLobbyView__container--title {
  position: relative;
  display: inline;
  top: 10vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  color: white;
  font-size: 2.0rem;
  border-radius: 15px;
  background: radial-gradient(#1638D3, #5973EB);
}

.HostLobbyView__container--IdField {
  position: absolute;
  top: 30vh;
  width: 100vw;
 }
 
.HostLobbyView__container--IdField h2 {
  color: white;
  margin: 0 3.0rem;
}

.HostLobbyView__container--IdField p {
  color: white;
  background-color: #0E289E;
  border-radius: 15px;
  font-size: 2.0rem;
  margin: 1.0rem 5.0rem;
}

.HostLobbyView__namesList {
  position: absolute;
  top: 55vh;
  width: 100vw;
  color: white;
}

.HostLobbyView__namesList li {
  text-align: left;
  margin: 0.8rem 2.0rem;
  font-size: 1.2rem;;
  padding: 0.25rem 0.5rem;
  background-color: #0E289E;
}

.HostLobbyView__namesList--deleteBtn {
  float: right;
  font-size: 0.9rem;
  padding-top: 0.25rem;
}

.HostLobbyView__btn--start {
  position: absolute;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10vh;
  background: radial-gradient(#1638D3, #5973EB);
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  border-radius: 15px;
  color: white;
}

.HostLobbyView__btn--start:hover {
  background: radial-gradient(#5973EB, #1638D3);
  color: black
}