.InstructionsView__header {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

.InstructionsView__header--timer {
  margin: 0;
  padding: 0;
  left: -5vw;
  font-size: 2.0rem;
  color: white;
}

.InstructionsView__header button {
  margin: 0 5vw;
  font-size: 2.0rem;
  border-radius: 15px;
}

.InstructionsView__message {
  position: absolute;
  font-size: 1.2rem;
  margin: 1.0rem;
  padding: 0.5rem;
  border-radius: 15px;
}

.InstructionsView__canvasBackground {
  background-image: url(../../assets/canvasBackground.jpg);
}

@media only screen and (min-width: 768px) {
  .InstructionsView__header p {
    font-size: 3.0rem;
  }
  
  .InstructionsView__header button {
    font-size: 3.0rem;
  }
}