.LandingView__titleAnimation {
	position: relative;
  display: inline;
  top: 15vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 2.0rem;
  background-image: url(../../assets/source2.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
  -webkit-background-clip: text;
}

.LandingView__container--nameForm {
  position: absolute;
  top: 40vh;
  width: 100vw;
}

.LandingView__form--inputField {
  text-align: center;
  width: 50vw;
  line-height: 48px;
  border-radius: 15px;
}

.LandingView__btnContainer {
  position: absolute;
  top: 60vh;
  width: 100vw;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .LandingView__container--title {
    padding: 2.5rem 2.5rem;
    font-size: 3.5rem;
  }
  
  .LandingView__form--nameField {
    line-height: 72px;
    font-size: 2.0rem;
  }
  
  .LandingView__btnContainer {
    top: 55vh;
    width: 100vw;
  }

  /* .LandingView__about--container {
    bottom: 2vh;
  } */
  
  /* .LandingView__about--button {
    margin-top: 2.0rem;
    padding: 1.0rem 0;
  } */
}

@media only screen and (min-width: 1025px) {
  .LandingView__container--title {
    padding: 2.0rem 5.0rem;
  }
  
  .LandingView__form--nameField {
    width: 500px;
  }
}