.LandingView__titleAnimation {
	position: relative;
  display: inline;
  top: 10vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 2.0rem;
  background-image: url(../../assets/source2.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
  -webkit-background-clip: text;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.LandingView__container--nameForm {
  position: absolute;
  top: 40vh;
  width: 100vw;
}

.LandingView__form--inputField {
  text-align: center;
  width: 50vw;
  line-height: 48px;
  border-radius: 15px;
}

.LandingView__btnContainer {
  position: absolute;
  top: 60vh;
  width: 100vw;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}


@media only screen and (min-width: 675px) {
  .LandingView__titleAnimation {
    font-size: 4.5rem;
  }
  
  .LandingView__container--nameForm {
    top: 35vh;
  }
  
  .LandingView__form--inputField {
    line-height: 72px;
    font-size: 2.0rem;
  }
  
  .LandingView__btnContainer {
    top: 55vh;
  }
}