




/* This is original COde */
.ResultsView__background {
  background: url(../../assets/canvasBackground.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.ResultsView--container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid white; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ResultsView--canvas {
  /* border: 5px solid #8F3ED1; */
  border-radius: 5px;
  background: url(../../assets/canvasBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 2px 25px rgba(134, 10, 235, 0.705),
              inset 0 0 18px black;
  opacity: 0.95;
}

.ResultsView--origImg {
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.358),
              0 0 1px 25px rgba(134, 10, 235, 0.705);
  /* border: 5px solid #8F3ED1; */
}

.ResultsView--doneBtn-container {
  position: relative;
  top: 80vh;
  
}


/* .ResultsView__container--title {
  position: relative;
  display: inline;
  top: 15vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 2.0rem;
  border-radius: 15px;
} */

/* .ResultsView__message {
  position: absolute;
  top: 30vh;
  width: 100vw;
  padding: 0 2.0rem;
} */


.ResultsView__container--button {
  position: absolute;
  bottom: 5vh;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.ResultsView__btn {
  margin: 0.5rem 1.5rem;
  padding: 1.0rem 0;
  border-radius: 15px;
}


@media only screen and (min-width: 675px) {
  .ResultsView__btn {
    width: 125px;
  }
}

/* .ResultsView__image {
  position: absolute;
  top: 20vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 70vw;
} */

/* .button {
  position: absolute;
  bottom: 5vh;
  width: 100vw;
} */


