.ResultsView__container--title {
  position: relative;
  display: inline;
  top: 15vh;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 2.0rem;
  border-radius: 15px;
}

.ResultsView__message {
  position: absolute;
  top: 30vh;
  width: 100vw;
}

.ResultsView__message h2{
  padding: 0 2.0rem;
}

.ResultsView__image {
  position: absolute;
  top: 20vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 70vw;
}

.button {
  position: absolute;
  bottom: 5vh;
  width: 100vw;
}



@media only screen and (min-width: 768px) {
  .ResultsView__container--title {
    padding: 2.5rem 2.5rem;
    font-size: 3.5rem;
  }
  
  .ResultsView__message {
    top: 30vh;
    font-size: 3.0rem;
    padding: 0 2.0rem;
  }
  
  .ResultsView__image {
    top: 20vh;
    width: 50vw;
  }
}


@media only screen and (min-width: 1025px) {
  .LandingView__container--title {
    padding: 2.0rem 5.0rem;
  }
  
  .ResultsView__message {
    font-size: 2.5rem;
  }
  
  .ResultsView__image {
    height: 350px;
    object-fit: fill;
  }
}