.CountdownTimer__container {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
}


.CountdownTimer__timeUp--message {
  font-size: 5.0rem;
  pointer-events: none;
  z-index: 1;
  animation: timeUpDropdown 0.8s alternate-reverse infinite;
}

@keyframes timeUpDropdown {
  0% {
    transform: translateY(30%) scale(1.1, 0.8);
  }
  100% {
    transform: translateY(-30%);
  }
}


/* @keyframes flash--warning {
  0% {
    color: white;
    border: 2px solid white;
    transform: rotate(1deg);
  }
  33% {
    transform: rotate(-2deg);
  }
  55% {
    transform: rotate(1deg);
  }
  100% {
    color: red;
    border: 2px solid red;
    transform: rotate(-1deg);
  }
} */

