.LineSize__container {
  position: absolute;
  top: 9vh;
  right: 8vw;
  display: flex;
  align-items: baseline;
  width: min-content;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.LineSize__container li {
  color: black;
  padding: 0.5rem 1rem;
}

#sizeXL {
  font-size: 2.0rem;
}

#sizeL {
  font-size: 1.7rem;
}

#sizeM {
  font-size: 1.3rem;
}

#sizeS {
  font-size: 1.0rem;
}












/* .lineSize--button {
  background: black;
  border-radius: 50%;
  z-index: 50;
  outline: none;
  transition: all 0.6s;
  box-shadow: 0 0 3px black;
  border: none;
}

.lineSize--ul {
  position: absolute;
  left: 10vw;
  top: 10vh;
  height: 60px;
  width: 240px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.411);
  box-shadow: 0 0 4px black;
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.lineSize--li {
  margin: 0 2px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
}

.lineSize--li::before {
  content: '';
  height: 39px;
  width: 39px;
  position: absolute;
  top: 8px;
  transform: translateX(-50%);
} */
