.lineSize--button {
  height: 35px;
  width: 35px;
  padding: 15px;
  background: black;
  border-radius: 50%;
  z-index: 50;
  outline: none;
}

.lineSize--ul {
  position: absolute;
  left: 10vw;
  top: 10vh;
  height: 50px;
  width: 140px;
  background: red;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.lineSize--li {
  margin: 0 2px;
  background: black;
  border-radius: 50%;
}