.LineSize__container {
  position: absolute;
  top: 9vh;
  right: 8vw;
  display: grid;
  align-items: center;
  justify-content: center;
  width: min-content;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.LineSize__container li {
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.LineSize__container li:hover {
  animation: brush 0.6s;
  color: white;
  /* animation-direction: alternate-reverse; */
  /* animation-iteration-count: infinite; */
}

@keyframes brush {
  0% {
    transform: rotate(0deg);
  }
  56% {
    transform: rotate(70deg);
  }
  78% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0);
  }
}

#sizeXL {
  font-size: 2.0rem;
}

#sizeL {
  font-size: 1.7rem;
}

#sizeM {
  font-size: 1.3rem;
}

#sizeS {
  font-size: 1.0rem;
}


@media only screen and (min-width: 768px) {
  .LineSize__container li {
    padding: 1.0rem 1.0rem;
  }
  
  #sizeXL {
    font-size: 2.5rem;
  }
  
  #sizeL {
    font-size: 2.2rem;
  }
  
  #sizeM {
    font-size: 1.8rem;
  }
  
  #sizeS {
    font-size: 1.5rem;
  }
}









/* .lineSize--button {
  background: black;
  border-radius: 50%;
  z-index: 50;
  outline: none;
  transition: all 0.6s;
  box-shadow: 0 0 3px black;
  border: none;
}

.lineSize--ul {
  position: absolute;
  left: 10vw;
  top: 10vh;
  height: 60px;
  width: 240px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.411);
  box-shadow: 0 0 4px black;
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.lineSize--li {
  margin: 0 2px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
}

.lineSize--li::before {
  content: '';
  height: 39px;
  width: 39px;
  position: absolute;
  top: 8px;
  transform: translateX(-50%);
} */
