.palette--main {
  position: fixed;
  top: 20px;
  right: 100px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: white;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}