.Palette__container {
  position: relative;
  float: right;
  height: 20vh;
  width: 50vw;
  z-index: 1;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  
  border-radius: 15px;
  /* box-shadow: inset 0 0 10px 1px grey; */
  background: rgba(0, 0, 0, 0.5);
}

.Palette__container li {
  color: black;
  font-size: 1.8rem;
}

/* line sizes */
#sizeXL {
  font-size: 2.0rem;
}

#sizeL {
  font-size: 1.7rem;
}

#sizeM {
  font-size: 1.3rem;
}

#sizeS {
  font-size: 1.0rem;
}


/* colors */
#redColor {
  color: red;
}
#orangeColor {
  color: orange;
}
#yellowColor {
  color: yellow;
}
#greenColor {
  color: green;
}
#blueColor {
  color: blue;
}
#violetColor {
  color: purple;
}
#blackColor {
  color: black;
}
#whiteColor {
  color: white;
}



@media only screen and (min-width: 768px) {
  .Palette__container li {
    color: black;
    font-size: 2.8rem;
  }
  
  /* line sizes */
  #sizeXL {
    font-size: 2.5rem;
  }
  
  #sizeL {
    font-size: 2.2rem;
  }
  
  #sizeM {
    font-size: 1.8rem;
  }
  
  #sizeS {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .Palette__container {
    height: 25vh;
    width: 25vw;
  }
}