.Palette__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  width: 50vw;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.Palette__container li {
  color: black;
  font-size: 2.0rem;
  padding: 0.5rem 0;
}

#redColor {
  color: red;
}
#orangeColor {
  color: orange;
}
#yellowColor {
  color: yellow;
}
#greenColor {
  color: green;
}
#blueColor {
  color: blue;
}
#violetColor {
  color: purple;
}
#blackColor {
  color: black;
}
#whiteColor {
  color: white;
}



@media only screen and (min-width: 768px) {
  .Palette__container li {
    color: black;
    font-size: 2.8rem;
  }
  
  /* line sizes */
  #sizeXL {
    font-size: 2.5rem;
  }
  
  #sizeL {
    font-size: 2.2rem;
  }
  
  #sizeM {
    font-size: 1.8rem;
  }
  
  #sizeS {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .Palette__container {
    height: 25vh;
    width: 25vw;
  }
}